.table td, .table th{
	border-top: 1px solid black;
}
.table .thead-dark td{
	background: white;
}
.head {
	z-index: 
}
.head button {
	float:right;
	margin-bottom: 5px;
}

.tambahBut {
	background: grey;
	border:none;
	color:white;
	margin:auto;
	margin-top: 20px;
	padding:10px 30px;
}

.tambahBut:hover{
	background: #72757e;
}

.tambahBut:active{
	background: #78909c;
}